.main-header {
  min-height: 878px;
  background: $dark url("../img/decor.svg") no-repeat center / cover;
}

.main-header__container {
  width: 1412px;
  padding: 33px 15px 33px 13px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: $min-desktop-width) {
    width: 96%;
    padding: 33px 2%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.main-header__logo {
  @media (max-width: $tablet-width) {
    padding: 20px 25px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 17px 0;
  }
}

.main-header__nav {
  padding: 15px 50px 0;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    padding: 35px 25px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 25px 18px 0;
  }
}

.main-header__button {
  min-width: 180px;
  min-height: 45px;
  margin-top: 4px;
  margin-bottom: auto;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;

  &:hover {
    background-color: $accent;
    border: 1px solid $accent;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
