.page {
  height: 100%;
  font-family: "PT Mono", "Times New Roman", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
}

.page__body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $dark-grey;
  background-color: $white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.page__content {
  flex-grow: 1;
}
