.promo__container {
  width: 1420px;
  padding: 140px 11px 105px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 780px 1fr;
  grid-column-gap: 8px;

  @media (max-width: $min-desktop-width) {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    grid-template-columns: 56% 1fr;
  }

  @media (max-width: $tablet-width) {
    padding: 41px 0 163px 87px;
    grid-template-columns: 430px 1fr;
  }

  @media (max-width: $mobile-width) {
    width: 90%;
    grid-template-columns: 1fr;
    padding: 38px 15px 70px;
  }
}

.promo__description {
  padding-top: 58px;

  @media (max-width: $tablet-width) {
    padding-top: 76px;
  }

  @media (max-width: $mobile-width) {
    order: 2;
    margin-top: -28px;
    padding-top: 0;
  }
}

.promo__description h2 {
  margin: 0;
  margin-bottom: 27px;
  font-family: $fontFamily;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;

  @media (max-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 48px;
  }
}

.promo__description p {
  margin: 0;
  margin-bottom: 43px;
  padding-left: 98px;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-left: 51px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 41px;
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    position: absolute;
    content: '';
    left: 4px;
    top: 16px;
    width: 66px;
    height: 2px;
    background-color: $white;

    @media (max-width: $tablet-width) {
      width: 33px;
      left: 3px;
    }
  }
}

.promo__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 98px;
  width: 407px;
  min-height: 55px;
  color: $white;
  border: none;
  border-radius: 5px;
  background-color: $accent;

  &::before {
    content: attr(data-text1);
    font-size: 16px;
    line-height: 19px;
    font-family: $fontFamily;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (max-width: $mobile-width) {
      content: attr(data-text2);
    }
  }

  @media (max-width: $tablet-width) {
    width: 379px;
    margin-left: 51px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: 3px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.promo__image {
  @media (max-width: $tablet-width) {
    margin-left: -15px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    padding-left: 10px;
    width: 105%;
    //height: 220px;
  }
}

.promo__image img {
  width: 705px;
  height: 515px;

  @media (max-width: $tablet-width) {
    width: 465px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
