// Font //

$fontFamily: "Roboto Condensed", "Arial", sans-serif;

// Colors //

$white: #ffffff;
$dark: #1b2d37;
$accent: #00b2ff;
$dark-grey: #666666;

// Viewports //

$min-desktop-width: 1440px;
$tablet-width: 1023px;
$mobile-width: 767px;
